* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Helvetica, Arial, sans-serif;
}
.wrapper{
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 100px auto 200px 150px;
    grid-template-areas: 
    'hd nv nv'
    'hu hu hu'
    'ma ma as'
    'ma ma as'
    ;
}
.elements {
    padding:1vw;
}
nav a {
    color:black;
    background-color: transparent;
    text-decoration: none;
}
main {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-area: ma;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 20vw auto 10vw;
    grid-template-areas: 
    'ti ti ti'
    ;
}
.container {
    grid-area: hu;
}
#texten {
    background-color: white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}
header {
    font-size: xx-large;
    text-align: center;
    font-family: Avenir, Helvetica, Arial;  
    color: white; 
    background-color: #e74c3c;
    grid-area: hd;
}
header a {
    font-family: Avenir, Helvetica, Arial;  
    color: white;
    text-decoration: none;
}
nav {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-area: nv;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'wi wi wi'
    'gr gu os'
    ;
}
#winterclass {
    display:  flex;
    grid-area: wi;
    justify-content: space-between;
}
#search {
    grid-area: sr;
}
#rea {
    display: block;
    grid-area: gr;
    background-color:rgb(255, 255, 255);
    transition:0.2s;
}
#rea:hover {
    color:white;
    background-color: #e74c3c;
}
#guide{
    grid-area: gu;
    background-color: rgb(255, 255, 255);
    transition:0.2s;
}
#guide:hover {
    color:white;
    background-color:#e74c3c;
}
#oss {
    grid-area: os;
    background-color: white;
    transition:0.2s;
}
#oss:hover {
    color:white;
    background-color:#e74c3c;
}
body {
    background-color: rgb(255, 248, 235);
    grid-area: bo;
}
.title {
    font-family: Avenir, Helvetica, Arial;
    font-size: x-large;
    font-weight:600;
    grid-area: ti;
    background-color: #e74c3c;
}
#intro {
    background-color: #e74c3c;
}
aside {
    background-color:#e74c3c;
    grid-area: as;
}
footer {
    background-color: rgb(118, 59, 59);
    grid-area: ft;
    height: 19vw;
}
